:root {
    --btn-color: #2A94E2;
    --text-color: #000000;
}

body {
    font-family: 'Geometria', serif;
    font-weight: 400;
    color: var(--text-color);
}

.header {
    background: url("../images/header__img.png") no-repeat center center/cover;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__menu {
    display: flex;
    align-items: center;
}

.burger__lines {
    margin-right: 20px;
}

.burger__line {
    width: 40px;
    height: 3px;
    display: block;
    background: var(--btn-color);
    border-radius: 50px;
    margin: 10px 0;
}

.burger__line:nth-child(2) {
    width: 30px;
}

.burger__line:nth-child(3) {
    width: 20px;
}

.burger__menu {
    font-size: 16px;
    line-height: 26px;
}

.info {
    display: flex;
    align-items: center;
}

.header__info {
    max-width: 195px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-left: 30px;
}

.header__desc {
    display: flex;
    flex-direction: column;
}

.header__tel {
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.header__btn {
    justify-content: center;
}

.btn {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    padding: 17px 22px;
    border: 1px solid var(--btn-color);
    border-radius: 5px;
}

.header__title {
    max-width: 595px;
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.header__subtitle {
    max-width: 560px;
    width: 100%;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    margin: 40px 0;
}

.header__aboutUs {
    display: flex;
    max-width: 830px;
    width: 100%;
}

.about__item {
    display: flex;
    align-items: center;
}

.about__item:nth-child(2) {
    margin: 0 50px;
}

.item__num {
    font-size: 80px;
}

.item__desc {
    font-size: 16px;
    line-height: 26px;
}

.header__gift {
    display: flex;
    align-items: center;
    margin: 43px 0;
}

.gift__desc {
    font-size: 16px;
    line-height: 26px;
    max-width: 376px;
    width: 100%;
    margin: 0 20px;
}

.gift__bDesc {
    font-weight: 600;
}

.header__chooseBtn {
    background-color: var(--btn-color);
    color: #ffffff;
    margin-bottom: 50px;
}

.choose__location {
    margin-top: 60px;
}

.location__title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.location__subtitle {
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}

.choose__location {
    display: flex;
    align-items: center;
}

.choose__sections {
    border: 3px solid #F6F6F6;
    padding: 40px;
}

.choose__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.choose__images {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F1F1F1;
}

.choose__item {
    text-align: center;
}

.choose__item:last-child{
    margin-left: 30px;
}

.image__info {
    font-size: 16px;
    color: #808080;
    font-weight: 600;
    margin: 16px 0;
}

.choose__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.choose_questions {
    margin: 0;
}

.choose__continue {
    font-size: 16px;
    line-height: 26px;
    color: #2A94E2;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.choose__continue:after {
    content: "";
    margin-left: 15px;
    background: url("../images/arrow.png") no-repeat center center/cover;
    width: 21px;
    height: 13px;
    display: inline-block;
}

.choose__list {
    border: 3px solid #F6F6F6;
    border-left: 0;
    padding: 33px 40px;
    list-style-type: none;
    margin: 0;
}

.choose__items:before {
    content: "";
    background: url("../images/choose__icon.png") no-repeat center center/cover;
    max-width: 39px;
    width: 100%;
    height: 34px;
    display: inline-block;
    margin-right: 25px;
}

.choose__items {
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0;
    display: flex;
}

.services__title {
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.img__container {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:"one two three"
                        "one four four"
                        "five five six";
    column-gap: 10px;
    row-gap: 10px;
}


.img__info {
    padding-left: 20px;
    padding-bottom: 16px;
}

.img__title {
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.img__hover{
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    position:absolute;
    visibility:hidden;
    background:rgba(0, 0, 0, 0.43);
    font-size:20px;
    color: white;
    height: 100%;
    width: 100%;
    top:160px
}


.services__img {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    position:relative;
}

.services__img:hover .img__hover {
    visibility:visible;
    transition:1s;
    transform:translatey(-160px);
}

.img__text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.img__btn {
    background: var(--btn-color);
    color: #FFFFFF;
    display: inline-flex;
    text-decoration: none;
    padding: 20px 100px;
    border-radius: 5px ;
    margin-bottom: 20px;
}

.one {
    grid-area: one;
    background: url("../images/services__img1.png")no-repeat center center/cover;
}

.two {
    grid-area: two;
    background: url("../images/services__img2.png")no-repeat center center/cover;
}

.three {
    grid-area: three;
    background: url("../images/services__img3.png")no-repeat center center/cover;
}

.four {
    grid-area: four;
    background: url("../images/services__img4.png")no-repeat center center/cover;
}

.five {
    grid-area: five;
    background: url("../images/services__img5.png")no-repeat center center/cover;
}

.six {
    grid-area: six;
    background: url("../images/services__img6.png")no-repeat center center/cover;
}



.apartament__title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}

.apartaments__subtitle {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
}

.apartaments__show {
    border: 2px solid #F6F6F6;
    display: flex;
    justify-content: space-between;
}

.show__btn {
    display: inline;
    padding: 20px 57px;
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    border-right: 3px solid #F6F6F6;
    text-align: center;
}

.show__btn:active,
.active {
    background: var(--btn-color);
    color: #ffffff;
}

.show__btn:hover {
    background: #F6F6F6;
    color: #000000;
    transition: 0.3s ease-in-out;
}

.show__btn:last-child{
    border: none;
}

.apartaments__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.apartament__item {
    border: 1px solid #F6F6F6;
    margin-top: 30px;
    transition: 0.2s;
}

.apartament__item:hover {
    box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
}

.apartament__item:hover .item__btn{
    background-color: var(--btn-color);
    color: #ffffff;
}

.item__title {
    font-size: 22px;
    padding: 0 30px;
}

.item__number {
    font-size: 16px;
    font-weight: 300;
    padding: 0 30px;
}

.item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__price {
    font-size: 33px;
    margin-top: 0;
    margin-bottom: 20px;
}

.item__priceInfo {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.item__info {
    padding: 0 30px;
}

.item__floor {
    margin: 0;
}

.item__area {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 34px;
}

.item__btn {
    margin-top: 15px;
    display: inline-flex;
    text-decoration: none;
    background: #F6F6F6;
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}


.apartament__btn {
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    background: #F6F6F6;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.apartament__btn::after {
    content: "";
    background: url("../images/more.png")no-repeat center center/cover;
    width: 9px;
    height: 9px;
    display: block;
    margin-left: 15px;
}