:root {
    --btn-color: #2A94E2;
    --text-color: #000000;
}

body {
    font-family: 'Geometria', serif;
    font-weight: 400;
    color: var(--text-color);
}

.header {
    background: url("../images/header__img.png") no-repeat center center/cover;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__menu {
    display: flex;
    align-items: center;
}

.burger__lines {
    margin-right: 20px;
}

.burger__line {
    width: 40px;
    height: 3px;
    display: block;
    background: var(--btn-color);
    border-radius: 50px;
    margin: 10px 0;
}

.burger__line:nth-child(2) {
    width: 30px;
}

.burger__line:nth-child(3) {
    width: 20px;
}

.burger__menu {
    font-size: 16px;
    line-height: 26px;
}

.info {
    display: flex;
    align-items: center;
}

.header__info {
    max-width: 195px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-left: 30px;
}

.header__desc {
    display: flex;
    flex-direction: column;
}

.header__tel {
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.header__btn {
    justify-content: center;
}

.btn {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    padding: 17px 22px;
    border: 1px solid var(--btn-color);
    border-radius: 5px;
}

.header__title {
    max-width: 595px;
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.header__subtitle {
    max-width: 560px;
    width: 100%;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    margin: 40px 0;
}

.header__aboutUs {
    display: flex;
    max-width: 830px;
    width: 100%;
}

.about__item {
    display: flex;
    align-items: center;
}

.about__item:nth-child(2) {
    margin: 0 50px;
}

.item__num {
    font-size: 80px;
}

.item__desc {
    font-size: 16px;
    line-height: 26px;
}

.header__gift {
    display: flex;
    align-items: center;
    margin: 43px 0;
}

.gift__desc {
    font-size: 16px;
    line-height: 26px;
    max-width: 376px;
    width: 100%;
    margin: 0 20px;
}

.gift__bDesc {
    font-weight: 600;
}

.header__chooseBtn {
    background-color: var(--btn-color);
    color: #ffffff;
    margin-bottom: 50px;
}

.choose__location {
    margin-top: 60px;
}

.location__title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.location__subtitle {
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}

.choose__location {
    /*border: 3px solid #F6F6F6;*/
    /*padding: 40px 35px;*/
    display: flex;
    align-items: center;
}

.choose__sections {
    border: 3px solid #F6F6F6;
    padding: 40px;
}

.choose__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.choose__images {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F1F1F1;
}

.choose__item {
    text-align: center;
}

.choose__item:last-child{
    margin-left: 30px;
}

.image__info {
    font-size: 16px;
    color: #808080;
    font-weight: 600;
    margin: 16px 0;
}

.choose__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.choose_questions {
    margin: 0;
}

.choose__continue {
    font-size: 16px;
    line-height: 26px;
    color: #2A94E2;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.choose__continue:after {
    content: "";
    margin-left: 15px;
    background: url("../images/arrow.png") no-repeat center center/cover;
    width: 21px;
    height: 13px;
    display: inline-block;
}

.choose__list {
    border: 3px solid #F6F6F6;
    border-left: 0;
    padding: 33px 40px;
    list-style-type: none;
    margin: 0;
}

.choose__items:before {
    content: "";
    background: url("../images/choose__icon.png") no-repeat center center/cover;
    max-width: 39px;
    width: 100%;
    height: 34px;
    display: inline-block;
    margin-right: 25px;
}

.choose__items {
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0;
    display: flex;
}

.choose__icon {

}